html {
  font-family: sans-serif;
}

#container {
  width: 80%;
  max-width: 450px;
  margin: 75px auto 0;
}

input.guessSubmit {
  margin-top: 12px;
  padding: 4px 8px;
}

input.guessField {
  margin-top: 10px;
  padding: 4px;
}

.lastResult {
  color: white;
  padding: 3px;
}